{% extends 'base.html' %}
{% load static %}
{% block title %}{% if pageFlag == 'add' %}Office Location Add Page{% elif pageFlag == 'view' %}Office Location View Page{% else %}Office Location Edit Page{% endif %}{% endblock %}
{% load humanize %}
{% load crispy_forms_tags %}
{% block content %}
<div class="table-responsive p-4">
	<table class="table ">
		<thead>
			{% if pageFlag == 'view' %}
			<tr>
				<th scope="col" class="text-muted">Address Line 1</th>
				<th scope="col" class="text-muted">Address Line 2</th>
				<th scope="col" class="text-muted">City Name</th>
				<th scope="col" class="text-muted">Pincode</th>
				<th scope="col" class="text-muted">Action</th>
			</tr>
			{% endif %}
		</thead>
		<tbody  class="text-muted">
			{% if pageFlag == 'add' %}
			<tr>
				<form action="{% url 'invoiceApp:addEditAddressSubmitUrl' %}" method="POST" enctype="multipart/form-data">
					{% csrf_token %}

					<input type="hidden" name="redirectUrl"  value="{{request.get_full_path}}">
					{{form|crispy}}
					<td><button class="btn btn-success mt-2" type="submit">Submit</button></td>
				</form>
			</tr>
			<!-- View -->
			{% elif pageFlag == 'view' %}					
			<tr>
				<td >{% if addressDetails.address_line_1 %}{{addressDetails.address_line_1}}{% else %}-{% endif %}</td>
				<td >{% if addressDetails.address_line_2 %}{{addressDetails.address_line_2}}{% else %}-{% endif %}</td>
				<td >{% if addressDetails.city_name %}{{addressDetails.city_name}}{% else %}-{% endif %}</td>
				<td >{% if addressDetails.pincode %}{{addressDetails.pincode}}{% else %}-{% endif %}</td>
				<td ><a href="{% url 'invoiceApp:addressEditUrl' addressDetails.id %}?action=edit">Edit</a></td>
			</tr>
			{% else %}

			<!-- Edit -->
			<tr>
				<form action="{% url 'invoiceApp:addEditAddressSubmitUrl' %}" method="POST" enctype="multipart/form-data">
					{% csrf_token %}
					<input type="hidden" name="dataID" value="{{addressDetails.pk}}">
					<input type="hidden" name="submitType" value="update">
					<input type="hidden" name="redirectUrl"  value="{{request.get_full_path}}">
					{{form|crispy}}
					<td><button type="submit" class="btn btn-success mt-2">Submit</button></td>
				</form>
			</tr>
			{% endif %}
		</tbody>
	</table>
</div>
{% endblock %}

{% block additionalJS %}
{% if pageFlag == 'edit' %}
<script type="text/javascript">
	window.onload = function(e){
		document.getElementById('id_address_line_1').value = '{% if addressDetails.address_line_1 %}{{addressDetails.address_line_1}}{% endif %}';
		document.getElementById('id_address_line_2').value = '{% if addressDetails.address_line_2 %}{{addressDetails.address_line_2}}{% endif %}';
		document.getElementById('id_city_name').value = '{% if addressDetails.city_name %}{{addressDetails.city_name.pk}}{% endif %}';
		document.getElementById('id_pincode').value = '{% if addressDetails.pincode %}{{addressDetails.pincode}}{% endif %}';
	};
</script>
{% endif %}
{% endblock %}