{% extends 'base.html' %}
{% load static %}
{% block title %}{% if pageFlag == 'add' %}Office Location Add Page{% elif pageFlag == 'view' %}Office Location View Page{% else %}Office Location Edit Page{% endif %}{% endblock %}
{% load humanize %}
{% load crispy_forms_tags %}
{% block content %}
<div class="table-responsive p-4">
	<table class="table ">
		<thead>
			{% if pageFlag == 'view' %}
			<tr>
				<th scope="col" class="text-muted">Terms And Condition</th>
				<th scope="col" class="text-muted">Action</th>
			</tr>
			{% endif %}
		</thead>
		<tbody  class="text-muted">
			{% if pageFlag == 'add' %}
			<tr>
				<form action="{% url 'invoiceApp:termsAndConditionAddEditSubmitUrl' %}" method="POST" enctype="multipart/form-data">
					{% csrf_token %}

					<input type="hidden" name="redirectUrl"  value="{{request.get_full_path}}">
					{{form|crispy}}
					<td><button class="btn btn-success mt-2" type="submit">Submit</button></td>
				</form>
			</tr>
			<!-- View -->
			{% elif pageFlag == 'view' %}					
			<tr>
				<td >{% if termsAndCondition.terms_and_condition %}{{termsAndCondition.terms_and_condition}}{% else %}-{% endif %}</td>
				<td ><a href="{% url 'invoiceApp:termsAndConditionEditUrl' termsAndCondition.id %}?action=edit">Edit</a></td>
			</tr>
			{% else %}

			<!-- Edit -->
			<tr>
				<form action="{% url 'invoiceApp:termsAndConditionAddEditSubmitUrl' %}" method="POST" enctype="multipart/form-data">
					{% csrf_token %}
					<input type="hidden" name="dataID" value="{{termsAndCondition.pk}}">
					<input type="hidden" name="submitType" value="update">
					<input type="hidden" name="redirectUrl"  value="{{request.get_full_path}}">
					{{form|crispy}}
					<td><button type="submit" class="btn btn-success mt-2">Submit</button></td>
				</form>
			</tr>
			{% endif %}
		</tbody>
	</table>
</div>
{% endblock %}

{% block additionalJS %}
{% if pageFlag == 'edit' %}
<script type="text/javascript">
	window.onload = function(e){
		document.getElementById('id_terms_and_condition').value = '{% if termsAndCondition.terms_and_condition %}{{termsAndCondition.terms_and_condition}}{% endif %}';
	};
</script>
{% endif %}
{% endblock %}